* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/sean/resources/images/wlogout/lock.svg"), url("/home/sean/resources/images/wlogout/lock.svg"));
}

#logout {
    background-image: image(url("/home/sean/resources/images/wlogout/logout.svg"), url("/home/sean/resources/images/wlogout/logout.svg"));
}

#suspend {
    background-image: image(url("/home/sean/resources/images/wlogout/suspend.svg"), url("/home/sean/resources/images/wlogout/suspend.svg"));
}

#shutdown {
    background-image: image(url("/home/sean/resources/images/wlogout/shutdown.svg"), url("/home/sean/resources/images/wlogout/shutdown.svg"));
}

#reboot {
    background-image: image(url("/home/sean/resources/images/wlogout/reboot.svg"), url("/home/sean/resources/images/wlogout/reboot.svg"));
}
