* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.5);
}

button {
    min-width: 250px;
    min-height: 250px;
    margin: 15px;
    border-radius: 15px;
    border-color: #1E1E1E;
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #1E1E1E;
    border-style: solid;
    border-width: 2px;

    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 50%;
    font-size: 24px;
    font-weight: bold;
}

button:focus, button:active, button:hover {
    background-color: #3700B3;
    border-color: #3700B3;
    outline-style: none;
    box-shadow: 0 0 15px #3700B3;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.2s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: url("/home/sean/resources/images/wlogout/lock.svg");
}

#logout {
    background-image: url("/home/sean/resources/images/wlogout/logout.svg");
}

#suspend {
    background-image: url("/home/sean/resources/images/wlogout/suspend.svg");
}

#shutdown {
    background-image: url("/home/sean/resources/images/wlogout/shutdown.svg");
}

#reboot {
    background-image: url("/home/sean/resources/images/wlogout/reboot.svg");
}
