@define-color background-darker rgba(30, 31, 41, 230);
@define-color background #2E3440;
@define-color selection #FFFACD;
@define-color foreground #D8DEE9;
@define-color comment #4C566A;
@define-color blue #5e81ac;
@define-color cyan #88C0D0;
@define-color green #A3BE8C;
@define-color pink #B48EAD;
@define-color purple #81A1C1;
@define-color red #BF616A;
@define-color yellow #EBCB8B;
@define-color white #FFFFFF;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: x-large;
    padding: 0;
    margin: 0;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    min-height: 0;
    border: none;
    border-radius: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 10pt;
    padding-right: 10pt;
    background: @background_color_1;
    color: @foreground;
}

#workspaces button.visible {
    color: @white;
    background: @inactive;
}

#workspaces button.focused {
    color: @selection;
    background: @focused;
}

#workspaces button:hover {
    background: @blue;
    color: @cyan;
}

#workspaces button.active {
    background: @background;
    border-bottom: 3px solid white;
}

#window {
    padding-right: 1em;
}

#memory,
#temperature {
    padding-right: 1em;
}

#wireplumber {
    padding-right: 1em;
}
#battery {
    padding-right: 1em;
}
#backlight {
    padding-right: 1em;
}
#network {
    padding-right: 1em;
}
#bluetooth {
    padding-right: 1em;
}
#custom-nixos{
    padding-right: 1em;
}
#tray {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
#custom-exit {
    padding-right: 1em;
}
#custom-vpn {
    background-color: #383c4a;
    color: #ffffff;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: 10px;
}

#custom-vpn.connected {
    background-color: #26A65B; /* Green */
    color: #ffffff;
}

#custom-vpn.disconnected {
    background-color: #E05C5C; /* Red */
    color: #ffffff;
}
